* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  font-size: 16px;
}

body {
  background-color: #00458b;
}

h1 {
  text-align: center;
  margin: 25px;
  font-size: 72px;
}

button {
  background-color: white;
  padding: 10px;
  color: #00ABE1;
}

#container {
  display: flex;
  justify-content: center;
}

#options {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: auto 0px;
}

.option {
  margin: 10px 5px;
  text-align: center;
}

#colorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#color {
  padding: 0px;
  height: 40px;
  width: 80px;
}

#canvas {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
  margin: 25px;
}

#canvas .row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

#canvas .row div {
  display: flex;
  flex: 1;
  background-color: white;
  border: 1px solid #00ABE1;
}